@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind css/ui;

.area-title {
  min-height: 3rem;
}

.areas-card {
  margin-left: 25%;
  height: 100vh;
  padding: 10vh 0;
}

.area-form {
  border-bottom: 1px solid #D83E1D;
  color: black;
  min-width: 17rem;
  margin-right: 2rem;
}

.area {
  filter: blur(0.3em) grayscale(1);
}

#areas-list {
  height: 90vh;
}

.blurred {
  filter: blur(0.2em);
  display: block;
  pointer-events: none;
}

.bordered {
  border: 1px solid black;
}

.choosen-area {
  filter: none;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + label:before {
  background-image: url('./icons/square.svg');
  width: 2rem;
  height: 2rem;
  margin-left: -3rem;
  content: '';
  position: absolute;
  background-size: cover;
}

input[type='checkbox']:checked + label:before {
  background-image: url('./icons/square-check.svg');
}

input[type='checkbox']:checked + label {
  text-decoration: line-through;
}

.menu {
  border-right: 1.5px solid black;
  justify-content: flex-start;
  height: 80vh;
  width: 100%;
  max-height: 80vh;
}

.menu-container {
  width: 25%;
  height: 100%;
}

.menu-links-list {
  max-height: 85%;
  overflow-y: auto;
}

.rotating {
  animation-name: rotating;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.title {
  color: #D83E1D;
}

.todo {
  padding-left: 3rem;
}

.todos-list {
  /* height of side menu links list (80vh * 85%) - height of title - title bottom margin */
  max-height: calc(80vh * 0.85 - 3rem - 1rem);
  position: relative;
  overflow-y: auto;
}

@keyframes rotating {
  100% {
    transform: rotate(360deg)
  }
}
