@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind css/ui;

.area-title {
  min-height: 3rem;
}

.areas-card {
  margin-left: 25%;
  height: 100vh;
  padding: 10vh 0;
}

.area-form {
  border-bottom: 1px solid #D83E1D;
  color: black;
  min-width: 17rem;
  margin-right: 2rem;
}

.area {
  filter: blur(0.3em) grayscale(1);
  min-width: 20em;
}

#areas-list {
  height: 90vh;
}

.blurred {
  filter: blur(0.2em);
  display: block;
  pointer-events: none;
}

.bordered {
  border: 1px solid black;
}

.choosen-area {
  filter: none;
}

.control-panel {
  position: fixed;
  bottom: 10vh;
  justify-content: flex-end;
  z-index: 11;
}

.control-panel-planner {
  right: 75%;
}

.empty-areas {
  padding: 0 30%;
}

.home-menu {
  font-size: 1.5rem;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + label:before {
  background-image: url('./icons/square.svg');
  width: 2rem;
  height: 2rem;
  margin-left: -3rem;
  content: '';
  position: absolute;
  background-size: cover;
}

input[type='checkbox']:checked + label:before {
  background-image: url('./icons/square-check.svg');
}

input[type='checkbox']:checked + label {
  text-decoration: line-through;
}

.menu {
  border-right: 1.5px solid black;
  justify-content: flex-start;
  height: 80vh;
  width: 100%;
  max-height: 80vh;
}

.menu-container {
  width: 25%;
  height: 100%;
}

.menu-links-list {
  /* height of side menu (80vh) - height of form - margin-top form - links - margin-top links; */
  max-height: calc(80vh - 1.5rem - 1rem - 2rem - 1rem);
  overflow-y: auto;
}

.menu-links-list button {
  text-align: right;
}

.modal {
  background: #ffffffc7;
}

.rotating {
  animation-name: rotating;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.title {
  color: #D83E1D;
}

.todo {
  padding-left: 3rem;
}

.todos-list {
  /* height of side menu (80vh) - height of title - title bottom margin - height of form - margin-top form */
  max-height: calc(80vh - 3rem - 1rem - 1.5rem - 1rem);
  position: relative;
  overflow-y: auto;
}

@keyframes rotating {
  100% {
    transform: rotate(360deg)
  }
}

@media (max-width: 499px) {
  .area {
    min-width: 100%;
    width: 100%;
    word-break: break-all;
    padding: 0 1em;
  }

  .area-form {
    bottom: 4rem;
    position: fixed;
    right: 0;
    width: 90%;
    margin: 0 5%;
  }

  .areas-card {
    margin: 4rem 0 6rem 0;
    width: 100%;
    max-height: 80%;
    height: 80%;
    padding: unset;
  }
  #areas-list {
    height: unset;
  }

  .control-panel {
    bottom: 1rem;
    right: unset;
    justify-content: center;
    width: 100%;
    height: 2rem;
  }

  .control-panel-planner {
    right: unset;
  }

  .menu {
    border: unset;
  }

  .menu-container {
    width: 0;
  }

  .menu-links-list {
    flex-direction: row;
    position: fixed;
    left: 0;
    top: 0;
    margin: 1rem 0;
    max-height: 2rem;
    max-width: 100%;
    height: 2rem;
    overflow-x: scroll;
  }

  .menu-links-list::after {
    border-bottom: 1px solid black;
    width: 90%;
    left: 5%;
    content: '';
    position: fixed;
    display: flex;
    top: 3.5rem;
  }

  .menu-links-list button {
    margin: unset;
    min-width: 100%;
    overflow-x: scroll;
    text-align: center;
    width: 100%;
  }

  .title {
    font-size: 2em;
  }

  .todos-list {
    max-height: calc(100vh - 17rem);
  }
}
